.page {
  background-color: #000000;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  /* color: #fff; */
}

@media screen and (max-width: 950px) {
  .page {
    padding: 0 19px;
  }
}
