.profile__add-button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/profile__add-button.png);
  align-self: center;
  justify-self: end;
  margin-left: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: 0.5s;
}

@media screen and (max-width: 720px) {
  .profile__add-button {
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 430px) {
  .profile__add-button {
    background-image: url(../../../images/plus.svg);
    width: 100%;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    background-position: center;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
