.profile__add-button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/profile__add-button.png);
  align-self: center;
  justify-self: end;
  margin-left: auto;
  cursor: pointer;
  transition: 0.5s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  .profile__add-button {
    margin: 0;
  }
}
