.form__input {
  border: none;
  padding: 0;
  margin: 30px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border-bottom: 3 solid rgba(201, 15, 15, 0.5);
  outline: none;
}
